.btn {
	width: fit-content;
	padding: 8px 12px;
	font-weight: 600;
	font-size: 25px;
	border: 2px solid var(--black);
	border-radius: var(--button-border-radius);
}

.btn:hover {
	transform: scale(1.05);
	background-color: var(--light-blue);
	color: var(--white);
}

.btn:disabled {
	pointer-events: none;
	filter: grayscale(100%);
	opacity: 0.3;
}
