.wrapper {
	display: flex;
	flex-direction: column;
	gap: 2vh;
}

.buttons {
	display: flex;
	justify-content: center;
	gap: 2vw;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
	filter: grayscale(100%);
}
