.wrapper {
	display: flex;
	justify-content: space-between;
}

.dotes {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2vh;
}

.controls {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4vh;
}
