.input {
	width: 16vw;
}

.disabled {
	pointer-events: none;
	filter: grayscale(100%);
	opacity: 0.3;
}

.btns {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 0.5vw;
}

.btn {
	width: 50%;
	padding: 6px;
	font-size: 22px;
	font-weight: 600;
	border: 2px solid var(--black);
	border-radius: 12px;
}

.btn:hover {
	background-color: var(--light-blue);
	color: var(--white);
	transform: scale(1.05);
}
