.form {
	padding: 8px 12px;
	padding-bottom: 28px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2vh;
	border: 3px solid var(--black);
	border-radius: var(--button-border-radius);
	box-sizing: border-box;
}

.legend {
	padding: 0 8px;
	font-weight: bold;
}

.container {
	padding: 12px;
	max-width: 700px;
	display: grid;
	grid-template-columns: 1fr 4fr;
	align-items: center;
	gap: 12px;
}

.property {
	font-weight: bold;
}

.dropdown {
	width: auto;
}
