.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1vw;
}

.title {
	font-size: 40px;
	font-weight: 500;
}

.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5vw;
}

.btn,
.br {
	font-size: 32px;
	font-weight: 400;
}

.btn:hover {
	color: var(--light-blue);
	filter: drop-shadow(0 0 10px var(--light-blue));
}

.btn_active {
	color: var(--blue);
	border-bottom: 2px solid var(--blue);
}
