.dropdown {
	padding: 0 !important;
	width: 56px;
	height: 56px;
	--fs-last: 44px;
}

.dropdown button {
	width: 52px;
	height: 52px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 52px;
}
