.wrapper {
	width: 100%;
	min-height: calc(100vh - var(--header-height));
	padding-top: 4vh;
	display: flex;
	justify-content: space-between;
	gap: 2vw;
}

.apply {
	height: calc(100vh - var(--header-height) - 8vh);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2vh;
}

.chart {
	width: 50%;
	height: calc(100vh - var(--header-height) - 8vh);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--black);
	border-radius: var(--button-border-radius);
}

.chart:hover {
	border-color: var(--light-blue);
}

.graph {
	overflow-y: auto;
	scrollbar-width: thin;
	max-height: 71vh;
}
