.wrapper {
	width: 100%;
	min-height: calc(100vh - var(--header-height));
	padding-top: 4vh;
	display: flex;
	justify-content: space-between;
	gap: 2vw;
}

.apply {
	height: calc(100vh - var(--header-height) - 8vh);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2vh;
}

.input {
	width: 16vw;
}

.disabled {
	pointer-events: none;
	filter: grayscale(100%);
	opacity: 0.3;
}

.btns {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 0.5vw;
}

.btn {
	width: 50%;
	padding: 6px;
	font-size: 22px;
	font-weight: 600;
	border: 2px solid var(--black);
	border-radius: 12px;
}

.btn:hover {
	background-color: var(--light-blue);
	color: var(--white);
	transform: scale(1.05);
}

.chart {
	width: 50%;
	height: calc(100vh - var(--header-height) - 8vh);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--black);
	border-radius: var(--button-border-radius);
}

.chart:hover {
	border-color: var(--light-blue);
}

.graph {
	overflow-y: auto;
	scrollbar-width: thin;
	max-height: 71vh;
}
