.wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	display: grid;
	grid-template-columns: 4fr 1fr 4fr 1fr 4fr;
	justify-items: center;
	margin-top: 10vh;
}

.short_wrapper {
	width: 60%;
	grid-template-columns: 4fr 1fr 4fr;
	justify-items: center;
}

.btn {
	margin-top: calc(39px + 2vh + 2.9rem);
	transform: translate(0, -50%);
}

.offset {
	position: absolute;
	left: 0;
	transform: translate(125%, -50%);
}

.input {
	height: 56px;
	padding: 8px 12px;
	border: 2px solid var(--black);
	border-radius: 12px;
	font-size: 24px;
	font-weight: 400;
	pointer-events: none;
	filter: grayscale(100%);
	margin-top: calc(39px + 2vh + 2.9rem);
	transform: translate(0, -50%);
}
