.button {
	width: 56px;
	height: 56px;
	font-weight: 500;
	font-size: 56px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--black);
	border-radius: var(--button-border-radius);
	margin-bottom: 16px;
}

.button:hover {
	background-color: var(--light-blue);
}
