.btn {
	border: 2px solid var(--black);
	padding: 2px;
	border-radius: var(--button-border-radius);
}

.btn > svg {
	fill: var(--black);
	transition: none;
}

.btn > svg:hover {
	fill: var(--light-blue);
}
